.form-control {
  border-radius: 10px;
  background-color: #eef2f5;
}

.errorContainer {
  height: 100vh;
  background-image: url("img/cloud-bg.jpg");
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
  overflow-y: hidden;
}

.info-box {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transform: scale(1);
  transition: transform 500ms ease-in-out;
}

.info-box:hover {
  transform: scale(1.1);
  transition: transform 500ms ease-in-out;
}

.navIcons {
  cursor: pointer;
}

.cityNameCard:hover {
  text-decoration: underline;
  color: #d8a524;
}

.removeIcon:hover {
  color: #d02525;
  transition: color 200ms ease-in-out;
}

.removeIcon {
  color: unset;
  transition: color 200ms ease-in-out;
}
