.form-control {
  border-radius: 10px;
  background-color: #eef2f5;
}

.errorContainer {
  height: 100vh;
  background-image: url("img/cloud-bg.jpg");
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
  overflow-y: hidden;
}

.info-box {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transform: scale(1);
  transition: transform 500ms ease-in-out;
}

.info-box:hover {
  transform: scale(1.1);
  transition: transform 500ms ease-in-out;
}

.navIcons {
  cursor: pointer;
}

.cityNameCard:hover {
  color: #c51dce;
}

.removeIcon:hover {
  color: #d02525;
  transition: color 200ms ease-in-out;
}

.removeIcon {
  color: unset;
  transition: color 200ms ease-in-out;
}

.welcome-box {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.startButton {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transform: scale(1);
  transition: transform 300ms ease-in-out;
  outline: 2px solid rgb(93, 176, 255);
  outline-offset: 5px;
}

.startButton:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transform: scale(1.1);
  transition: transform 300ms ease-in-out;
}

/* COLORI SFNODO CUSTOM */
.bg-info {
  background: rgb(111, 184, 251);
  background: linear-gradient(180deg, rgba(111, 184, 251, 1) 0%, rgba(66, 160, 240, 1) 38%);
}

.bg-warning,
.alert-warning {
  background: rgb(255, 227, 128);
  background: linear-gradient(180deg, rgba(255, 227, 128, 1) 0%, rgba(247, 208, 70, 1) 49%);
}

/* COLORI CARDS */
.day-sun {
  background-image: linear-gradient(
    135deg,
    hsl(47deg 86% 51%) 0%,
    hsl(45deg 87% 52%) 21%,
    hsl(43deg 88% 52%) 30%,
    hsl(41deg 88% 52%) 39%,
    hsl(40deg 89% 53%) 46%,
    hsl(38deg 89% 53%) 54%,
    hsl(36deg 90% 54%) 61%,
    hsl(34deg 90% 54%) 69%,
    hsl(33deg 90% 54%) 79%,
    hsl(31deg 91% 54%) 100%
  );
}

.night {
  background: rgb(127, 92, 161);
  background-image: linear-gradient(
    335deg,
    hsl(242deg 55% 25%) 0%,
    hsl(247deg 50% 27%) 3%,
    hsl(251deg 46% 30%) 7%,
    hsl(255deg 42% 32%) 12%,
    hsl(258deg 39% 35%) 21%,
    hsl(261deg 36% 38%) 34%,
    hsl(263deg 34% 41%) 56%,
    hsl(266deg 31% 44%) 80%,
    hsl(268deg 29% 47%) 93%,
    hsl(270deg 27% 50%) 100%
  );
}

.clouds {
  background: rgb(113, 184, 255);
  background: linear-gradient(169deg, rgba(113, 184, 255, 1) 39%, rgba(45, 117, 222, 1) 92%);
}

.rain {
  background: rgb(105, 124, 144);
  background: linear-gradient(169deg, rgba(105, 124, 144, 1) 39%, rgba(63, 83, 113, 1) 92%);
}

.snow {
  background: rgb(238, 242, 245);
  background: linear-gradient(169deg, rgba(238, 242, 245, 1) 39%, rgba(188, 191, 194, 1) 92%);
}

.favoriteCards {
  border-radius: 30px;
  overflow: hidden;
  border: 0;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

@media screen and (max-width: 768px) {
  #cityName {
    white-space: normal !important;
    margin-left: 0 !important;
  }
}
